*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: clamp(320px, 90%, 1000px);
  margin: auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg.icon {
  height: 25px;
  width: 25px;
}

/* Margin, Padding */

header {
  padding: 12px 0;
}

#hero {
  padding-top: 90px;
  padding-bottom: 180px;
}

.hero-links button {
  padding: 14px 18px;
  border-radius: 7px;
  border: none;
}

#headlines {
  padding-bottom: 160px;
}

#features {
  padding-bottom: 160px;
}

.features-headline {
  padding: 0 128px;
}

.features-grid-card {
  padding: 18px 0 0;
}

.features-grid-content {
  padding: 18px 18px 0;
}

#collaborate {
  padding-bottom: 180px;
}

.collaborate-container {
  padding-left: 48px;
}

.collaborate-content-item {
  padding: 16px 12px 24px;
}

/* Colors & Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background: #1a191c;
  --dark-grey: #212023;
  --light-grey: #2d2b2f;
  --font-light: #f0eaf7;
  --font-grey: #a8a6b3;
  --primary: #752bc7;
  --secondary: #8148bf;
}

body {
  background-color: var(--background);
  color: var(--font-light);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-light {
  color: var(--font-light);
}
.font-grey {
  color: var(--font-grey);
}

.font-primary {
  color: var(--primary);
}

.font-secondary {
  color: var(--secondary);
}

.background-primary {
  background-color: var(--primary);
}

.background-dark-grey {
  background-color: var(--dark-grey);
}

.background-light-grey {
  background: var(--light-grey);
}

.fw-bold {
  font-weight: 900;
}

.fw-medium-bold {
  font-weight: 650;
}

/* Font-sizing */
body {
  font-size: 1.2rem;
}

.font-size-largest {
  font-size: 2.5rem;
}

.font-size-large {
  font-size: 1.4rem;
}

.font-size-medium {
  font-size: 1.1rem;
}

.font-size-small {
  font-size: 0.9rem;
}

/* Structure */

nav {
  display: flex;
  gap: 18px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-menu-left {
  display: flex;
  gap: 18px;
  gap: 18px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-menu-right {
  display: flex;
  gap: 18px;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 32px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-links {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-image img {
  width: 100%;
}

.headlines-container {
  display: flex;
  justify-content: space-evenly;
}

.headlines-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 60%;
}

.headlines-content-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headlines-cta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: space-evenly;
}

.headlines-icon-container {
  padding: 14px;
  border-radius: 48px;
  background-image: url(img/app-background.svg);
  background-size: contain;
  border: 0.5px solid var(--light-grey);
}

.headlines-cta-link {
  text-align: center;
}

.headlines-app-icon {
  height: 150px;
  width: 150px;
}

.features-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.features-grid-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.features-grid-row {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.features-grid-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 60%;
  border: 1px solid var(--light-grey);
  border-radius: 18px;
}

.features-grid-content {
  flex: auto;
}

.features-grid-image {
  display: flex;
  flex: 1 1 50%;
  padding-top: 24px;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 18px;
  max-width: 85%;
  align-self: flex-end;
}

.features-grid-image img {
  max-width: 80%;
}

.collaborate-container {
  display: flex;
}

.collaborate-information {
  display: flex;
  flex: 2 0 60%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.collaborate-content {
  /* flex: 1 1 40%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collaborate-content-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.collaborate-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creativity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
}

.creativity-card-row {
  display: flex;
  gap: 16px;
}
.creativity-card {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.creativity-image {
  margin: auto;
}

.creativity-links {
  text-align: center;
}

.creativity-container a {
  text-decoration: underline;
  color: var(--font-grey);
}

.further-links-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.further-links-headline {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.further-links-card-row {
  display: flex;
  gap: 12px;
}

.further-links-card {
  flex: 1;
  outline: 1px solid var(--secondary);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-socials-container ul {
  display: flex;
  gap: 12px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
}

.footer-links-card {
  flex: 0 1 33%;
}

/* Behaviors */
.collaborate-content-item:hover {
  background: var(--light-grey);
  border-radius: 14px;
}
